<h2>スレッドタイトル：<%= @board["title"] %></h2>

<% @posts.each do |post| %>
  投稿者：<%= post["name"] %> <%= post["created_at"].strftime("%Y-%m-%d %H:%M:%S") %><br>
  <%= post["content"] %><br>
<% end %>

<h3>スレッドの作成</h3>
  <div>
    <form action="/posts" method="POST">
      <div>
        name:
        <textarea name="name" rows="1"></textarea>
      </div>
      <div>
        content:
        <textarea name="content" rows="5"></textarea>
      </div>
      <div>
      <input type="hidden" name="board_id" value="<%= "#{@board["id"]}" %>">
      </div>
      <div>
        <input type="submit" value="投稿する">
      </div>
    </form>
  </div>
